
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body {
            background-color: #F6F6F7;
        }

        * {
            font-family: Arial, Helvetica, sans-serif;
        }

        /* The device with borders */
        .smartphone {
            position: relative;
            /* width: 360px;
            height: 640px; */
            margin: auto;
            /* border: 2px black solid; */
            /* border-top-width: 60px;
            border-bottom-width: 60px; */
            border-radius: 15px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        }

        /* The screen (or content) of the device */
        .smartphone .content {
            width: 100%;
            /* height: 100%; */
            background: white;
        }

        a{
            text-decoration:none;
            cursor: pointer
        }
       
    </style>
</head>

<body>
    <div class="smartphone">
        <table class="content" style="width:100%">
            <tbody>
                <tr>
                    <td> <p style="font-size: 20px; text-align: center; font-weight: 600;">Welcome to</p></td>
                </tr>
                <td style="text-align:center" >
                    <img src="https://wethechefs.in/assets/images/ctc_img/Logo.png" style="width: 100px; margin: auto; display: block;" alt="">
                </td>
                <tr>
                    <td><p style="text-align: center;">You are now part of an exculsive platform of hundreds of chefs across
                        Delhi NCR!</p></td>
                </tr>
                <tr>
                    <!-- <td>
                        <a href="https://www.uat.wethechefs.in/becomeachef" target="_blank"><button
                            style="width: 90%; margin: auto; display: block; background-color: #E26812; color: white; border-radius: 10px; padding: 5px 20px; letter-spacing: 1.2px; font-size: 15px; border: none;">
                            HOW IT WORKS</button></a>
    
                    </td> -->
                    <td style="text-align: center;">
                        <a style="background-color: #E26812; color: white; border-radius: 10px; padding: 10px 20px; font-weight: 600; letter-spacing: 1.2px; font-size: 15px; border: none; text-align: center;text-decoration: none;" href="https://www.uat.wethechefs.in/become-a-chef" target="_blank">HOW IT WORKS</a> 
                            
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="content" style="width:100%">
            <tbody >
                <tr>
                    <td style="text-align: center;">  <p style="text-align: center;">HOW WE SUPPORT OUR CHEFS</p></td>
                </tr>
                
            </tbody>
        </table>
        <table class="content" style="width:100%">
            <tbody >
                <tr>
                    <td style="text-align:center">  <img src="https://wethechefs.in/assets/icons/new_icons/Menu_Pricing.svg" style="width: 50px; height: 50px; margin: auto;"
                        alt="">
                    <p style="font-size: 12px; text-align: center; margin-top: 0%;">Menu <br> Pricing</p>
                    </td>
                    <td style="text-align:center">  <img src="https://wethechefs.in/assets/icons/new_icons/Menu_desugn.svg" style="width: 50px; height: 50px; margin: auto;"
                        alt="">
                    <p style="font-size: 12px; text-align: center; margin-top: 0%;">Menu <br> Design</p>
                    </td>
                    <td style="text-align:center">   <img src="https://wethechefs.in/assets/icons/new_icons/Fulfilment.svg" style="width: 50px; height: 50px; margin: auto;"
                        alt="">
                    <p style="font-size: 12px; text-align: center; margin-top: 0%;">Fulfilment</p>
                    </td>
                    <td style="text-align:center">     <img src="https://wethechefs.in/assets/icons/new_icons/Packaging.svg" style="width: 50px; height: 50px; margin: auto;"
                        alt="">
                    <p style="font-size: 12px; text-align: center; margin-top: 0%;">Packaging</p>
                    </td>
                </tr>

            </tbody>
        </table>
        <table class="content" style="width:100%">
            <tbody >
                <tr>
                    <td style="text-align:center">
                            <a style="background-color: #E26812; color: white; border-radius: 10px; padding: 10px 20px; font-weight: 600; letter-spacing: 1.2px; font-size: 15px; border: none; text-align: center;text-decoration: none;" href="https://www.uat.wethechefs.in/chef" target="_blank">COMPLETE YOUR PROFILE</a> 
    
                    <p style="text-align: center; margin-top: 10px;">and starts accepting orders now!</p>
    
                    </td>
                </tr>

            </tbody>
        </table>
        <table class="content" style="width: 100%;">
            <tr>
                <td colspan="3" style="text-align:center;">
                    <img src="https://wethechefs.in/assets/images/ctc_img/Logo.png" alt="">
                 
                </td>
            </tr>
        </table>
        <!-- <div class="content">
            <div style="padding: 5px 10px;">
                <p style="font-size: 20px; text-align: center; font-weight: 600;">Welcome to</p>
                <img src="https://uat.wethechefs.in/assets/images/ctc_img/Logo.png" style="width: 100px; margin: auto; display: block;" alt="">

                <p style="text-align: center;">You are now part of an exculsive platform of hundreds of chefs across
                    Delhi NCR!</p>

                <a href="https://www.uat.wethechefs.in/becomeachef" target="_blank"><button
                        style="width: 90%; margin: auto; display: block; background-color: #E26812; color: white; border-radius: 10px; padding: 5px 20px; letter-spacing: 1.2px; font-size: 15px; border: none;">
                        HOW IT WORKS</button></a>

                <br>

                <p style="text-align: center;">HOW WE SUPPORT OUR CHEFS</p>
                <div style="display: flex;">
                    <div style="width: 25%;">
                        <img src="https://wethechefs.in/assets/icons/new_icons/Menu_Pricing.svg" style="width: 50px; height: 50px; margin: auto; display: block;"
                            alt="">
                        <p style="font-size: 12px; text-align: center; margin-top: 0%;">Menu <br> Pricing</p>
                    </div>
                    <div style="width: 25%;">
                        <img src="https://wethechefs.in/assets/icons/new_icons/Menu_desugn.svg" style="width: 50px; height: 50px; margin: auto; display: block;"
                            alt="">
                        <p style="font-size: 12px; text-align: center; margin-top: 0%;">Menu <br> Design</p>
                    </div>
                    <div style="width: 25%;">
                        <img src="https://wethechefs.in/assets/icons/new_icons/Fulfilment.svg" style="width: 50px; height: 50px; margin: auto; display: block;"
                            alt="">
                        <p style="font-size: 12px; text-align: center; margin-top: 0%;">Fulfilment</p>
                    </div>
                    <div style="width: 25%;">
                        <img src="https://wethechefs.in/assets/icons/new_icons/Packaging.svg" style="width: 50px; height: 50px; margin: auto; display: block;"
                            alt="">
                        <p style="font-size: 12px; text-align: center; margin-top: 0%;">Packaging</p>
                    </div>

                </div>


                <br>

                <a href="https://www.uat.wethechefs.in/chef" target="_blank"><button
                        style="width: 90%; margin: auto; display: block; background-color: #E26812; color: white; border-radius: 10px; padding: 5px 20px; letter-spacing: 1.2px; font-size: 15px; border: none;">
                        COMPLETE YOUR PROFILE</button></a>

                <p style="text-align: center; margin-top: 10px;">and starts accepting orders now!</p>

            </div>
            <img src="https://uat.wethechefs.in/assets/images/ctc_img/Logo.png" style="width: 100%;" alt="">
        </div> -->
    </div>
</body>

</html>